
 /* Autor: Fernando Pereira Alves
 GitHub: @Fernandodev0102
 Contato: 85976014779 
 */



body {
    font-family: consolas;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0;
}

h1 {
    color: #000;
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

form button:hover {
    background-color: #444;
}

a button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

a button:hover {
    background-color: #444;
}
